# --- Python & Environments ---
venv/
.venv/
env/
bin/
lib/
develop-eggs/
dist/
downloads/
eggs/
.installed.cfg
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# --- Python Bytecode & Cache ---
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/

# --- OS Specific Files ---
.DS_Store
Thumbs.db
db.lock
desktop.ini

# --- IDEs & Editors ---
.vscode/
.idea/
*.swp
*.swo

*.log